@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

:root {
    --title-clr: hsl(218, 44%, 22%);
    --bg-clr: hsl(212, 45%, 89%);
    --text-clr: hsl(220, 15%, 55%);
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-clr);
    color: var(--text-clr);
    font-family: 'Outfit', sans-serif;  
    text-align: center;
}

body, main {
    padding: 1em;
}

main {
    background-color: white;
    max-width: 15em;
    border-radius: 1em;
    animation: fadein 1.5s forwards;
}

main, footer {
    opacity: 0;
}

footer {
    animation: fadein 1s forwards;
    animation-delay: 1s;
}

img {
    max-width: 100%;
    border-radius: .75em;
}

h3 {
    color: var(--title-clr);
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}



